# This file should not be required, but it works around https://github.com/dotnet/roslyn/issues/42762

[../../ext/**/*.cs]
dotnet_analyzer_diagnostic.severity = none
dotnet_diagnostic.severity = none

# turn off persistent FxCop diagnostics
dotnet_diagnostic.CA1068.severity = none
dotnet_diagnostic.CA1200.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CA2016.severity = none
dotnet_diagnostic.CS8602.severity = none